[Desktop Entry]
Type=Application
Name=ChantEdit
Comment=Add guitar chords above chant scores
Exec=chantedit %f
Icon=folder-music
Terminal=false
Categories=AudioVideo;Audio;Music;Office;
MimeType=application/x-chantedit;application/pdf;
StartupNotify=true
